* {
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}


/* First Navigation Bar ******************** */
.foundation-name {
    padding: 0 0 0 70px;
    display: flex;
    grid-template-columns: auto auto auto;
}

.foundation-name img {
    width: 90px;
}

.org-name h1 {
    font-size: 20px;
    padding: 15px 0 0 10px;
    /* color: #2d538d; */
    color: rgb(18, 73, 130);
    font-weight: bold;
    margin: 0;
    letter-spacing: 1.5px;
}

.org-name p {
    padding: 0 0 0 45px;
    text-align: end;
    /* color: #2d538d; */
    color: rgb(18, 73, 130);
    font-style: italic;
}

#hamburger {
    color: white;
    display: none;
    font-size: 23px;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

#hamburgerMenu {
    /* background-color: #2d538d; */
    background-color: rgb(18, 73, 130);
}

.hamburgerLogo {
    top: 17px;
    right: 24px;
    display: none;
}

#navigation {
    display: flex;
    justify-content: end;
}

#navigation li {
    list-style: none;
}

.nav {
    text-align: center;
}

.nav ul {
    background-color: #ffff;
}

.nav ul li {
    text-align: left;
}

.nav-links i {
    font-size: 25px;
}


.nav-links {
    font-family: sans-serif;
    padding-top: 34px;
    padding-right: 22px;
}


.nav-links ul li {
    font-size: 14px;
    padding: 7px;
}

.nav-links ul {
    gap: 10px;
    width: 100%;
}

.nav-links ul li a {
    text-decoration: none;
    /* color: #2d538d; */
    color: rgb(18, 73, 130);
}

ul li a {
    color: black;
}

.nav-links ul li select option:hover {
    color: rgb(106, 2, 58);
    font-weight: bold;
}

.nav-links ul li a:hover {
    color: #db1313;
}

#list-item {
    position: relative;
    display: inline-block;
}

.list {
    display: none;
    position: absolute;
    min-width: 190px;
    z-index: 1;
    list-style: none;
    text-align: left;
    box-shadow: 0px 0px 20px #b6aeae;
    border-radius: 10px;
}

.list li a {
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid rgb(215 209 209);
}

#list-item:hover .list {
    display: block;
}

.list1 {
    display: none;
    position: absolute;
    min-width: 165px;
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    text-align: left;
    border: 1px solid white;
}

.list1 li a {
    font-size: 13px;
    display: block;
}

/* ****************************************************** */


/* Second navigation Bar */
#navi {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    color: #0c0c0c;
    list-style: none;
    gap: 10px;
    text-align: left;
    padding: 0px 115px 78px 25px;
}

#navi a {
    /* color: #2d538d; */
    color: rgb(18, 73, 130);
    text-decoration: none;
}

#navi li a:hover {
    color: #db1313;
}

#navi li a {
    font-size: 14px;
}

.nav-bar {
    display: flex;
    gap: 114px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
    background-color: #fff;
    box-shadow: 5px 3px 8px #888888;
}

#about-item {
    position: relative;
    display: inline-block;
}

#about-item:hover .list1 {
    display: block;
    /* color: #db1313; */
}

#list-item #drop-icon1 {
    font-size: 17px;
    padding-left: 7px;
}

#about-item #drop-icon1 {
    font-size: 17px;
    padding-left: 7px;
}


/*  Second navigation bar dropdown ******* */
#event-drop {
    position: relative;
    display: inline-block;
}

.list2 {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    text-align: left;
    border: 1px solid white;
    background-color: #fff;
}

.list2 li a {
    font-size: 13px;
    display: block;
}

.second-drop li a {
    border-bottom: 1px solid rgb(215 209 209);
    padding-top: 5px;
}

#event-drop:hover .list2 {
    display: block;
}

#about-drop {
    position: relative;
    display: inline-block;
}

.list3 {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
    text-align: left;
    border: 1px solid white;
    background-color: #fff;
}

.list3 li a {
    font-size: 13px;
    display: block;
}

#about-drop:hover .list3 {
    display: block;
}

/* ************************************************************** */


/* Carousal */
.carousal-container {
    background-color: #ffff;
}

.carousal-container {
    padding: 0;
}

.carousel-inner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-control-next {
    right: 0px;
    height: 50px;
    width: 50px;
    margin-top: 33%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;

}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0c0c0c;
    text-align: center;
    border: 0;
}

.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    border: 0;
    transition: opacity .15s ease;
}

.carousel-control-prev {
    right: 0px;
    height: 50px;
    width: 50px;
    margin-top: 33%;
}

/* ************************************************* */

/*  Our Story  */
.our-story {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(253, 251, 251); */
    margin-bottom: 20px;
    margin-top: 20px;
}

.founder-pic img {
    width: 300px;
}

.story {
    margin-left: 20px;
    text-align: center;
    /* width: 500px; */
    width: 600px;
}

.story h1 {
    font-weight: bold;
    font-size: 27px;
    font-family: 'Rubik', sans-serif;
}

.story p {
    font-size: 15px;
    font-style: italic;
    line-height: 1.7;
    text-align: justify;
}

/* *********************************************** */


/*  What we do  */
.what-we-do {
    margin-top: 50px;
}

.what h1 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

#work {
    padding-left: 165px;
    padding-right: 140px;
}

#work li {
    list-style: none;
}

.what-we-do h1 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.our-work {
    padding-left: 10px;
}

.our-work li {
    padding-top: 10px;
}

/* ************************************************** */

/* advocacy-networking */
.advocacy-container {
    margin: 30px 120px;
}

.card-container {
    background-color: rgb(61, 71, 86);
    padding: 17px 10px 0 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    height: 600px;
}

.card .back {
    background-color: rgb(61, 71, 86);
    background: none;
    border: none;
}

.card {
    display: -ms-flexbox;
    display: flex;
    /* background-color: transparent; */
    border: none;
    border-radius: 0;
    /* justify-content: center; */
    background: none;
}

.card p {
    color: aliceblue;
    text-align: start;
}

.card-container img {
    max-height: 288px;
    max-width: 288px;
    width: 100%;
}


.card-title {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}

.card-img-top {
    max-height: 250px;
    max-width: 250px;
}

#advocacy {
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

}

/* ****************************************************** */


/* Gallery  */
.gallery h1 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.gallery {
    padding: 80px 0px;
}

img {
    max-width: 100%;
}

.gallery-item {
    height: 233px;
    /* width: 360px; */
    width: 450px;
}

.gallery-container .col img {
    border-radius: 5px;
}

.row {
    row-gap: 25px;
}

.gallery-container {
    margin: 30px 120px;
}

/* *********************************************************** */

/*  Media & Resource Center */
.media-resource {
    padding-left: 10px;
}

.media-resource h1 {
    font-size: 27px;
    font-weight: bold;
}

.media-links ul li {
    list-style: none;
    padding: 11px 0 0 0;
}

.media-links {
    padding-left: 25px;
}

.media-links ul li a {
    text-decoration: none;
    border-bottom: 1px solid rgb(215 209 209);
    font-size: 16px;
    color: #db1313;
}

.media-links ul li a:hover {
    color: #282727;
}

.media-container {
    margin: 0 0 0 120px;
}

/* **************************************************************** */


/*  footer  */
footer {
    background-color: #2d538d;
    /* background-color: #30566c; */
    /* background-color: rgb(23, 78, 120); */
    /* background-color: #124982; */
    /* background-color: rgb(0, 237, 255); */
    /* background-color: rgb(18, 73, 130); */
    padding: 40px 85px 0 85px;
}

.footer-col {
    /* color: #ffff; */
}

.footer-col h5 {
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    margin-left: 7px;
}

.name {
    padding-left: 55px;
}

.address {
    padding-right: 55px;
}

.footer-col p {
    font-size: 15px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    line-height: 1.7;
}

.logo img {
    height: 40px;
    margin: 10px 0px 15px 0px;
}

.footer-down {
    color: #ffff;
    padding: 10px 0;
    line-height: 1.7;
    font-size: 15px;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    padding-left: 63px;
    color: #fff;
}

.footer-icon p {
    margin: 0;
}

#email {
    padding-bottom: 20px;
}

.footer-icon i {
    font-size: 22px;
    margin-top: 10px;
}

.footer-icon1 {
    display: flex;
    flex-direction: row;
    padding-right: 63px;
}

.footer-icon1 i {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 9px;
}

.footer-icon1 a {
    text-decoration: none;
    color: #ffff;
    /* color: #0c0c0c; */
}

.footer-icon1 a:hover {
    color: rgb(173, 28, 28);

}

.footer-info-down {
    display: flex;
    justify-content: space-around;
    background-color: #243946;
    /* background-color: rgb(47, 84, 151); */
}

#right {
    font-size: 14px;
    padding-left: 20px;
    color: #fff;
}



/* ****************************************** */

@media screen and (max-width: 320px) {
    .foss-logo img {
        height: 80px;
    }

    .nav-bar {
        padding-right: 0;
    }

    #hamburger {
        font-size: 18px;
        padding: 5px;
    }

    .org-name h1 {
        font-size: 15px;
    }

    .org-name p {
        font-size: 12;
    }

    .foundation-name img {
        width: 80px;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
    }

    #advocacy {
        font-size: 22px;
    }

    .card-body p {
        font-size: 13.5px;
    }

    .image-jpg {
        max-width: 240px;
        max-height: 240px;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .advocacy-container {
        margin: 0;
    }

    .footer-icon {
        padding-left: 0;
    }

    .footer-col h5 {
        padding-left: 0;
    }

    #work {
        padding: 0 15px;
    }
}



@media screen and (max-width: 375px) {
    .foundation-name img {
        width: 80px;
    }

    #hamburger {
        font-size: 18px;
        padding: 5px;
    }

    .org-name h1 {
        font-size: 15px;
    }

    .org-name p {
        font-size: 12;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
    }

    #advocacy {
        font-size: 22px;
    }

    .card-body p {
        font-size: 13.5px;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .advocacy-container {
        margin: 0;
    }

    .footer-icon {
        padding-left: 0;
    }

    .footer-col h5 {
        padding-left: 0;
    }

    #work {
        padding: 0 15px;
    }
}



@media screen and (max-width: 425px) {
    .foundation-name img {
        width: 80px;
    }

    #hamburger {
        font-size: 18px;
        padding: 5px;
    }

    .org-name h1 {
        font-size: 15px;
    }

    .org-name p {
        font-size: 12;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .advocacy-container {
        margin: 0;
    }

    .footer-icon {
        padding-left: 0;
    }

    .footer-col h5 {
        padding-left: 0;
    }

    #work {
        padding: 0 15px;
    }

}



@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    #hamburger {
        display: block;
    }

    footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer-col {
        padding-bottom: 10px;
    }

    .footer-info {
        display: block;
        flex-direction: row;
    }

    .footer-icon1 a {
        align-items: center;
    }

    .hamburgerLogo {
        display: block;
        position: absolute;
        margin-left: 90%;
    }

    .foss-logo {
        padding-left: 0;
    }

    #list-item {
        display: none;
    }

    #about-item {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .footer {
        cursor: pointer;
    }

    .text p {
        font-size: 17px;
    }

    .row section {
        flex-wrap: wrap;
    }

    .course-container {
        padding: 0 10px;
    }

    .foundation-name {
        padding: 0;
    }

    .grid {
        margin: 0;
    }

    #navi {
        font-size: 18px;
    }

    .nav-bar {
        display: block;
    }

    .container-fluid {
        flex-wrap: wrap;
    }

    #work {
        padding-left: 10px;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
        padding-top: 20px;
    }

    #advocacy {
        font-size: 22px;
    }

    .card-body p {
        font-size: 13.5px;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .advocacy-container {
        margin: 0;
    }

    .footer-icon {
        padding-left: 0;
    }

    .footer-col h5 {
        padding-left: 0;
    }

    #work {
        padding: 0 15px;
    }

    .our-story {
        padding-left: 0;
    }
}



@media screen and (min-width:769px) and (max-width:929px) {
    .nav {
        display: none;
    }

    .nav-links {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .hamburgerLogo {
        display: block;
        position: absolute;
        margin-left: 90%;
    }

    .nav-bar {
        display: block;
    }

    #navi {
        font-size: 18px;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
    }
}



@media screen and (min-width:930px) and (max-width:993px) {
    .nav {
        display: none;
    }

    .nav-links {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .hamburgerLogo {
        display: block;
        position: absolute;
        margin-left: 90%;
    }

    .nav-bar {
        display: block;
    }

    #navi {
        font-size: 18px;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
    }
}


@media screen and (max-width: 1024px) {
    .nav-links {
        padding-top: 25px;
        padding-right: 5px;
    }

    .nav-links ul li a {
        font-size: 13px;
    }

    .media-links ul li a {
        font-size: 13px;
    }

    .foundation-name {
        padding: 0;
    }

    .org-name h1 {
        font-size: 15px;
    }

    .org-name p {
        font-size: 12px;
    }

    .nav-links ul li {
        padding: 7px 5px;
    }

    .nav-bar {
        gap: 0;
    }

    .nav-links ul li a {
        font-size: 13px;
    }

    .media-resource h1 {
        font-size: 22px;
    }

    .gallery h1 {
        font-size: 22px;
    }

    .what-we-do h1 {
        font-size: 22px;
    }

    .story h1 {
        font-size: 22px;
        padding-top: 20px;
    }

    #advocacy {
        font-size: 22px;
    }

    .card-body p {
        /* font-size: 13.5px; */
        font-size: 14px;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .advocacy-container {
        margin: 0;
    }

    .footer-icon {
        padding-left: 0;
    }

    .footer-col h5 {
        padding-left: 0;
    }

    #work {
        padding: 0 15px;
    }
}



@media screen and (min-width:1025px) and (max-width:1031px) {
    .nav-links {
        padding-top: 25px;
        padding-right: 5px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }

    .foundation-name {
        padding: 0;
    }

    .org-name h1 {
        font-size: 18px;
    }

    .org-name p {
        font-size: 15px;
    }

    .nav-links ul li {
        padding: 7px 5px;
    }

    .nav-bar {
        gap: 0;
    }

    .foundation-name img {
        width: 100px;
    }

    .nav-links ul li a {
        font-size: 13px;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .advocacy-container {
        margin: 0;
    }

}


@media screen and (min-width:1025px) and (max-width:1400px) {
    .nav-links {
        padding-top: 25px;
        padding-right: 5px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }

    .foundation-name {
        padding: 0;
    }

    .org-name h1 {
        font-size: 18px;
    }

    .org-name p {
        font-size: 15px;
    }

    .nav-links ul li {
        padding: 7px 5px;
    }

    .nav-bar {
        gap: 0;
    }

    .foundation-name img {
        width: 100px;
    }

    .nav-links ul li a {
        font-size: 13px;
    }

    .our-work {
        margin: 0;
        padding: 0;
    }

    .gallery-container {
        margin: 0;
    }

    .media-container {
        margin: 0;
    }

    .advocacy-container {
        margin: 0;
    }

}


@media screen and (min-width:1265px) and (max-width:1322px) {
    .nav-links {
        padding-top: 25px;
        padding-right: 5px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }

    .foundation-name {
        padding: 0;
    }

    .org-name h1 {
        font-size: 18px;
    }

    .org-name p {
        font-size: 15px;
    }

    .nav-links ul li {
        padding: 7px 5px;
    }

    .nav-bar {
        gap: 0;
    }

    .foundation-name img {
        width: 100px;
    }

    .nav-links ul li a {
        font-size: 13px;
    }
}

/*  Media Querry end ******************************** */

.about-container {
    padding: 50px 0;
}

/* About Us */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.about-text {
    text-align: center;
} */
#about-us {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    font-family: futura-lt-w01-book, futura-lt-w05-book, sans-serif;
    /* padding: 40px 0 0 0; */
}

#quote {
    text-align: center;
}

#about-org {
    padding: 0 162px;
    text-align: justify;
}

.advisory-container {
    margin: 30px 120px;
}

.critic-name {
    text-align: center;
    padding-left: 233px;
}

#about-org {
    padding: 0 162px;
    text-align: justify;
}

/* vision-mission ************************/

/* .vision-mission {
    display: flex;
    justify-content: space-around;
}

.MissionVision {
    background-color: rgb(0, 237, 255);
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.MissionVision h1 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
}

.MissionVision p {
    text-align: justify;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    #about-org {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    #about-org {
        padding: 0 15px;
    }
} */
.mission-vision-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mission-vision-div {
    background-color: #ecdede3d;
    width: 100%;
    max-width: 550px;
    /* max-height: 400px; */
    margin: 20px;
    padding: 20px;
}

.mission-vision-div h1 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.mission-vision-div p {
    text-align: start;
    padding-top: 10px;
    word-spacing: 2px;
}

.mission-vision-img {
    max-height: 100px;
    max-width: 100px;
    width: 100%;
    padding-top: 15px;
}

.mison-vision-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *********************************************** */

/* Advisory board member */
.board-members {
    background-image: url(./photo/background.avif);
}

#Board-Members {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
}

.team-image {
    border-radius: 100%;
    /* height: 200px; */
    /* width: 300px; */
    border: none;
    padding: 20px;
}

.members-name {
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.member-intro {
    font-style: italic;
    text-align: center;
}

.card-img,
.card-img-top {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-radius: 50%;
}

.board-members-container {
    background-color: rgb(47, 82, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.advisory-col {
    padding-bottom: 20px;
}

.board-member-card {
    height: 100%;
    background-color: rgb(47, 82, 151);
    padding-bottom: 20px;
}

.advisory-card-body {
    /* height: 100%; */
    height: 700px;
}

@media screen and (max-width: 320px) {
    .vision-mission {
        flex-wrap: wrap;
        padding: 0 10px;
    }

}


@media screen and (max-width: 375px) {
    .vision-mission {
        flex-wrap: wrap;
        padding: 0 10px;
    }

}

@media screen and (max-width: 425px) {
    .vision-mission {
        flex-wrap: wrap;
        padding: 0 10px;
    }

}

@media screen and (max-width: 768px) {
    .vision-mission {
        /* flex-wrap: wrap; */
        padding: 0 10px;
    }

    .MissionVision {
        /* padding: 10px; */
        margin: 10px;
    }

    .about {
        padding: 0 10px;
    }

    .critic-name {
        padding-left: 130px;
    }

    #about-org {
        padding: 0 15px;
    }

    .mission-vision-div {
        padding: 0;
    }

    .mission-vision-div p {
        padding: 15px;
    }

    .mission-vision-container {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1024px) {
    .advisory-container {
        margin: 0;
    }

    .board-members {
        padding: 0;
    }

    .vijay {
        height: 311.33px;
        width: 311.33px;
    }

    .team-image {
        height: 311.33px;
        width: 311.33px;
    }
}



/*  our team **************************************** */
.our-team {
    background-color: rgb(113, 138, 138);
}

.team-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#our-team {
    text-align: center;
    font-size: 27px;
    font-weight: bold;

}

.team-item {
    margin: 10px;
    background-color: #fff;
}

/*  board-member-image ********* */
.board-member-image img {
    height: 200px;
    max-width: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.board-member-image {
    padding-top: 20px;
}

.carousel-control-prev.img {
    margin-top: 200px;
    max-height: 40px;
    max-width: 40px;
    background-color: #837e7e;
}

.carousel-control-next.img {
    margin-top: 200px;
    max-height: 40px;
    max-width: 40px;
    background-color: #837e7e;

}

.about-board-member {
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about-board-member h5 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}

#board-memb {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding-top: 20px;
}

.board-carousal {
    background-image: url(./photo/background.avif);
}

@media screen and (max-width: 1024px) {
    .about-board-member p {
        padding: 0 15px;
    }
}

/* who we are ****************** */
.who-we-are-text {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 150px;
    text-align: justify;
}

.who-we-are-text h1 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .who-we-are-text {
        padding: 15px;
    }
}

@media screen and (max-width: 425px) {
    .who-we-are-text {
        padding: 15px;
    }
}





/* Our Journey ************************************** */

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 0 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 70%;
}

.card-back {
    background: rgba(114, 124, 245, 0.09);
}

.Our-Journey {
    color: #0c0c0c;
    font-size: 27px;
    font-weight: bold;
    padding-top: 50px;
}

.text p {
    color: #0c0c0c;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1.5px dashed #fff;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}



/* Our Impact *********************** */
.p-y-2 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.p-y-3 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.m-b-1 {
    margin-bottom: 18px;
}

.m-t-1 {
    margin-top: 18px;
}

.main_counter_area {
    background-size: cover;
    overflow: hidden;
}


/* ************************ */
.impact {
    /* padding: 80px 0px; */
    background-color: #fff;

}

.impact-container {
    margin: 30px 118px 30px 130px;
}

.impact-col {
    padding: 50px;
    text-align: center;
    color: #fff;
    background: #000000;
    margin: 10px;

}


.impact h1 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding-top: 80px;
}

.impact-col h2 {
    font-size: 22px;
}


@media screen and (max-width: 1024px) {
    .impact-col {
        padding: 30px;
        text-align: center;
    }

    .impact-container {
        margin: 30px 0;
    }

    .impact h1 {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 23%;
    }

}

/* our Team ***************** */
.team-container img {
    /* background-color: #fff; */
    /* padding: 15px; */
    border-radius: 10px;
    max-height: 288px;
    max-width: 288px;
}

#gallery-modal .modal-img {
    width: 100%;
    max-width: max-content;
}

.team-background {
    /* background-color: beige; */
    /* padding: 47px 47px 84px 47px; */
    /* margin: 10px; */
    /* border-radius: 10px; */
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    max-width: 600px;
    /* padding: 40px; */
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
    justify-content: center;
}

.modal-header .close {
    padding: 1rem 1rem;
    /* margin: -1rem -1rem -1rem auto; */
    margin: 0;
}

/* .modal-header {
    display: flex;
    justify-content: end;
} */

.modal-header {
    display: -ms-flexbox;
    display: flex;
    /* justify-content: end; */
    /* -ms-flex-align: start; */
    /* align-items: flex-start; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: 1rem 1rem; */
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}